@page "/kanji/add"
@model Web.Pages.Kanjis.AddModel
@using Core.Entities.KanjiAggregate
@{
}

<div>
    <h3>Kanji</h3>

    <form method="post" id="kanji-form">
        <div class="form-group">
            <div>
                Character: <input type="text" asp-for="Kanji.Character" />
                <span asp-validation-for="Kanji.Character"></span>
            </div>
            <div id="reading-list" style="margin-top: 10px;">
                <div>
                    <span>Readings: </span>
                    <a href="#" id="add" style="margin-left:100px;">Add reading</a>
                </div>

                @{
                    if (Model.Kanji.Readings.Count > 0)
                    {
                        for (int i = 0; i < Model.Kanji.Readings.Count; i++)
                        {
                            <div>
                                <select asp-for="Kanji.Readings[i].TypeId" asp-items="@(new SelectList(Model.ReadingTypes, "Id", "Label"))"></select>
                                <input type="text" class="items" asp-for="Kanji.Readings[i].Label" />
                                <span asp-validation-for="Kanji.Readings[i].TypeId"></span>
                                <span asp-validation-for="Kanji.Readings[i].Label"></span>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <input type="submit" value="Add" />
    </form>
    <a class="nav-link" asp-page="Index">Back</a>
</div>

@section Scripts
{
    <script>
        $(function () {
            $("#add").click(function (e) {
                e.preventDefault();

                var i = $(".items").length;

                var readingTypeDropDownHTML = `@{<select asp-for="Kanji.Readings[0].TypeId" asp-items="@(new SelectList(Model.ReadingTypes, "Id", "Label"))"></select> }`;
                var readingTypeDropDown = $.parseHTML(readingTypeDropDownHTML);
                $(readingTypeDropDown).attr("id", $(readingTypeDropDown).attr("id").replace("0",i));
                $(readingTypeDropDown).attr("name", 'Kanji.Readings[' + i + '].TypeId');
                $("option", readingTypeDropDown).removeAttr("selected");

                var readingTextboxHTML = '<input type="text" class="items" name="Kanji.Readings[' + i + '].Label" />';
                var readingTextbox = $.parseHTML(readingTextboxHTML);

                var div = $("<div>");
                $(div).append(readingTypeDropDown);
                $(div).append(readingTextbox);
                $("#reading-list").append(div);
            });
        });
    </script>
}
